<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWeatherRequirementsLabel">Create or edit a Weather Requirements</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!weatherRequirements.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="weatherRequirements.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_temperatureMin">Temperature Min</label>
            <input type="number" class="form-control" name="temperatureMin" id="field_temperatureMin"
                [(ngModel)]="weatherRequirements.temperatureMin"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_temperatureMax">Temperature Max</label>
            <input type="number" class="form-control" name="temperatureMax" id="field_temperatureMax"
                [(ngModel)]="weatherRequirements.temperatureMax"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_windSpeedMin">Wind Speed Min</label>
            <input type="number" class="form-control" name="windSpeedMin" id="field_windSpeedMin"
                [(ngModel)]="weatherRequirements.windSpeedMin"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_windSpeedMax">Wind Speed Max</label>
            <input type="number" class="form-control" name="windSpeedMax" id="field_windSpeedMax"
                [(ngModel)]="weatherRequirements.windSpeedMax"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rain">Rain</label>
            <select class="form-control" name="rain" [(ngModel)]="weatherRequirements.rain" id="field_rain" >
                <option value="YES">YES</option>
                <option value="NO">NO</option>
                <option value="IRRELEVANT">IRRELEVANT</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
