
<h3>My Google Maps Demo</h3>
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div *ngIf="place">
    <h2><span>Place</span> {{place.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{place.nom}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <div *ngIf="place.locationId">
                <a [routerLink]="['/location', place.locationId]">{{place.locationId}}</a>
            </div>
        </dd>
        <dt><span>Weather</span></dt>
        <dd>
            <div *ngIf="place.weatherId">
                <a [routerLink]="['/weather', place.weatherId]">{{place.weatherId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'place/'+ place.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
