<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlaceLabel">Create or edit a Place</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!place.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="place.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="place.nom"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_emplacement">Emplacement</label>
            <select class="form-control" id="field_emplacement" name="emplacement" [(ngModel)]="place.emplacement">
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id === place.emplacement?.id ? place.emplacement : locationOption" *ngFor="let locationOption of emplacements; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" [(ngModel)]="place.location" >
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id === place.location?.id ? place.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_weather">Weather</label>
            <select class="form-control" id="field_weather" name="weather" [(ngModel)]="place.weather" >
                <option [ngValue]="null"></option>
                <option [ngValue]="weatherOption.id === place.weather?.id ? place.weather : weatherOption" *ngFor="let weatherOption of weathers; trackBy: trackWeatherById">{{weatherOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
